body {

    font-family: 'Roboto', sans-serif;

}



h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 700;

}



#hero {

    transition: all 1500ms;

    background-color: #300248;

    background-image: url('../images/bg_hero_preload.webp');

    background-size: cover;

    padding: 180px 0;

    position: relative;

    z-index: 10;

}

.st0 {
    opacity: 0.5;
    fill: url(#Caminho_20_2_);
}

.st1 {
    fill: url(#Caminho_22_2_);
}

.st2 {
    opacity: 0.5;
    fill: url(#Caminho_20_4_);
}

.st3 {
    fill: url(#Caminho_22_4_);
}

.scale {
    width: 100% !important;
}

#data {

    padding-bottom: 80px;

    padding-top: 35px;

}



#oevento {

    background-color: #ffffff;

    background-image: url('../images/bg_oevento.png');

    background-size: cover;

    background-repeat: no-repeat;

    background-size: center center
}



#cta {

    padding-top: 130px;

    text-align: center;





}

#cta h1,
#cta h3 {

    line-height: 40px;

}

#cta h3 {

    font-weight: 400;

}



#footer {

    background-color: #300248;

    padding: 50px 0;

}



.hero_itens {

    position: relative;

    z-index: 1000;

}









.HeroPhrase {

    color: #ffffff;

    text-shadow: 5px 0px 20px rgba(0, 0, 0, .4);



}

.HeroPhrase h1 {

    font-size: 2.4rem;

}



.bg-gradient-1 {

    background: rgb(255, 142, 102);

    background: linear-gradient(90deg, rgba(255, 142, 102, 1) 0%, rgba(255, 0, 128, 1) 100%);

}



.bgg-1 {

    background: rgb(255, 142, 102);

    background: linear-gradient(90deg, rgba(255, 0, 128, 1) 0%, rgba(255, 142, 102, 1) 100%);

}



.bgg-2 {

    background: rgb(127, 0, 255);

    background: linear-gradient(90deg, rgba(127, 0, 255, 1) 0%, rgba(190, 0, 255, 1) 100%);

}



.bgg-3 {

    background: rgb(255, 0, 131);

    background: linear-gradient(90deg, rgba(255, 0, 131, 1) 0%, rgba(199, 0, 255, 1) 100%);

}



.bgg-4 {

    background: rgb(0, 201, 140);

    background: linear-gradient(90deg, rgba(0, 201, 140, 1) 0%, rgba(0, 225, 255, 1) 100%);

}



.btn-primary,
.btn-outline-primary {

    background-color: #ff0080;

    border-color: #ff0080;

    border-width: 2px;

    padding: 10px 20px;

    transition: all 300ms;

    box-shadow: 0px 0px 0px rgba(127, 0, 255, .3);

}

.btn-outline-primary {

    background: transparent;

    color: #ffffff;

    border-color: #ffffff;

}



.btn-outline-primary:hover,
.btn-primary:hover {

    background-color: #7f00ff;

    border-color: #7f00ff;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);



}



.btn-sm {

    padding: 5px 10px;

    background-color: #7f00ff;

    border-color: #7f00ff;

    line-height: 20px;

}

.btn-map {

    margin-left: 5px;

}

.btn-map i {

    margin-right: 5px;

}



.font-color-1 {

    color: #ffffff;

}



.f-2 {

    font-size: 1.5rem;

}



.flink {

    text-decoration: none;

    color: #ff0080;

    opacity: .8;



}



.flink:hover {

    opacity: 1;

    color: #ff0080;

}



.color-w {

    color: #ffffff;

}



.color-0 {

    color: #3a3049;

}



.color-1 {

    color: #7f00ff;

}



.color-2 {

    color: #ff0080;

}



.ap-title {

    color: #3a3049;


    font-size: 1.5rem;

    font-weight: 900;

    margin-bottom: 30px;

    padding-bottom: 30px;

    position: relative;

}

.ap-title:after {

    content: '';

    width: 40px;

    height: 4px;

    background-color: #ff0080;

    position: absolute;

    top: 50px;

    left: 0;

    right: 0;

}



.text-center.ap-title:after {

    left: calc(50% - 20px);

    right: calc(50% - 20px);

}



.separador-branco {

    background-image: url(../images/separador-branco.png);

    background-repeat: no-repeat;

    width: 100%;

    height: 81px;

    margin-top: -81px;

    background-size: 100%;

    background-position: center bottom;

}



.separador-branco-i {

    background-image: url(../images/separador-branco-i.png);

    background-repeat: no-repeat;

    width: 100%;

    height: 60px;

    margin-bottom: -60px;

    background-size: 100%;

    background-position: center top;

    position: relative;

}







.separador-svg {

    width: 100%;

    height: 62px;

    margin-top: -61px;

    resize: both;

    z-index: 20;

    position: relative;

}

.separador-svg>svg {

    width: 100%;

    height: 100%;

}



.card {

    border: none;

    border-radius: 15px;



    transition: all 200ms;

}



.card>img {

    border: none;

    border-radius: 15px 15px 0 0;

}





.eventocard .card:hover {

    box-shadow: 0px 5px 20px rgba(60, 0, 125, .5);

    margin-top: -5px;



}




#fotos-carousel {

    z-index: 9999;

}



#fotos-carousel.carousel-indicators {

    margin: 10px 30px;



}



#fotos-carousel img {

    height: 80px;

    width: 80px;

    border-radius: 50%;

    margin: 0 15px;

}



.bg-dublador {

    background-color: #511296;

    background-image: url('../images/dublador_bg.jpg');

    background-size: cover;

}



.carousel-inner #caption-static-top {

    z-index: 9;

    top: 1px;

    text-shadow: 1px 1px 8px #000000;

}



.carousel-inner #caption-static {

    z-index: 999;

    bottom: 100px;

    padding-bottom: 4%;

}



#caption-static {

    font-size: 16px;

    text-shadow: 1px 1px 8px #000000;

}



#caption-dynamic {

    font-size: 25px;

    text-shadow: 1px 1px 8px #000000;

    font-weight: 600;



}



#dublador-static {

    position: relative;

    float: left;

    width: 100%;

    margin-right: -100%;

}



.carousel-inner #caption-dynamic {

    z-index: 999;

    bottom: 80px;

    padding-bottom: 3%;



}



.carousel-inner {

    padding-top: 80px;



}



.carousel-inner img {

    margin: auto;

    max-height: 450px;

}





#caption-static-top h5 {



    font-weight: 500;

}



.ap-card-link {

    text-decoration: none;

}



canvas {

    display: block;

}


#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    filter: blur(2px) !important;

    mix-blend-mode: screen;

}


@media (max-width: 575.98px) {



    #hero {

        padding: 80px 0;



    }



    .HeroPhrase h1 {

        font-size: 2rem;

    }



    #data {

        padding-bottom: 35px;

        padding-top: 25px;

    }



    .separador-svg {

        height: 20px;

        margin-top: -21px;

    }



    #fotos-carousel img {

        height: 40px !important;

        width: 40px !important;

        margin: 0 5px;

    }



    #dublador-static img,
    .carousel-item img {

        width: 90% !important;

    }



    .carousel-inner {

        padding-top: 80px;

    }





    #oevento {

        background-color: #ffffff;

        background: transparent;

    }



    .zs-slide:nth-child(1),
    .zs-slide:nth-child(3) {

        background-position: 25% center !important;

    }

    .zs-slide:nth-child(4) {

        background-position: 75% center !important;

    }

    .zs-slide:nth-child(2) {

        background-position: 58% center !important;

    }



}



@media (max-width: 767.98px) {

    #oevento {

        background-color: #ffffff;

        background: transparent;

    }



    #caption-static-top h5 {

        font-size: 1rem;



    }



    #fotos-carousel img {

        height: 50px;

        width: 50px;

    }



    .carousel-inner #caption-dynamic {

        z-index: 999;

        bottom: 80px;

        padding-bottom: 0%;

        font-size: 18px;

    }



    .carousel-inner #caption-static {

        z-index: 999;

        bottom: 110px;

        padding-bottom: 0%;

    }



}



@media (max-width: 991.98px) {

    #oevento {

        background-position: 16% center;

    }





}